In [1]:
import pandas as pd
import Pipeline as pm

## Load the Data

In [2]:
df = pd.read_csv('Data/Real_Datasets/bpic13-0.1-3.csv')

In [3]:
df

,case_id,event_position,name,timestamp,org:group,org:resource,resource country,anomaly,isAnomaly
0,1-147898401,0,Accepted+In Progress,00:36.0,Org line A2,Tomas,Sweden,Normal,0
1,1-147898401,1,Accepted+In Progress,05:44.0,Org line A2,Tomas,Sweden,Normal,0
2,1-165554831,0,Accepted+In Progress,06:25.0,Org line A2,Tomas,Sweden,Normal,0
3,1-172473423,0,Accepted+In Progress,21:54.0,Org line A2,Tomas,Sweden,Normal,0
4,1-182640781,0,Accepted+In Progress,21:05.0,Org line A2,Niklas,Sweden,Normal,0
...,...,...,...,...,...,...,...,...,...
2371,1-759255125,1,Accepted+Wait,21:56.0,Org line C,Ranveer,Sweden,Normal,0
2372,1-759255152,0,Accepted+In Progress,36:37.0,Org line A2,Hanna,POLAND,Normal,0
2373,1-759255152,1,Accepted+In Progress,46:31.0,Org line A2,Hanna,POLAND,Normal,0
2374,1-759318221,0,Accepted+In Progress,17:18.0,Org line A2,Ian,United Kingdom,Normal,0
2375,1-759318221,1,Accepted+Assigned,19:56.0,Org line A2,Ian,United Kingdom,Normal,0

## Encode the Data into numerical format

The data should have a numerical format and every number should be in the span of 0-1. 

The encoder is able to leverage different encoding methods such as:
* *one-hot*
* *word2vec*
* *llm_chunked*: model based upon leveraging 'bert-based-uncased'
* *sentence-transformer*: BERT based model pre-trained on sentences

The encoder is designed to work on event logs containing string words, meaning groups of csv rows (**events**) that can be grouped by one key (**case_id**). The columns that should be encoded can be specified in **columns2encode**. Since we order the events the **timestamp** is essential for the encoder!

In [6]:
encoder = pm.Encoder(method='word2vec', group_column='case_id', timestamp='timestamp', columns2encode=['name'])
encoded, *_ = encoder.encode(df)

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ C:\Users\paule\AppData\Local\Temp\ipykernel_18056\2819990686.py:2 in <module>                    │
│                                                                                                  │
│ [Errno 2] No such file or directory:                                                             │
│ 'C:\\Users\\paule\\AppData\\Local\\Temp\\ipykernel_18056\\2819990686.py'                         │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
TypeError: cannot unpack non-iterable NoneType object

In [4]:
encoded

,case_id,0,1,2,3,4,5,6,7,8,...,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899
0,1-147898401,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1-165554831,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1-172473423,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1-182640781,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1-230541365,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,1-759020352,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815,1-759169644,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
816,1-759255125,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
817,1-759255152,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
818,1-759318221,-0.060084,0.035758,0.045838,0.081878,-0.003439,-0.046377,0.071399,0.075351,-0.076194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Apply the Anomaly Detection Approach

It is possible to choose between two types of anomaly detection approaches:
* *autoencoder*: find anomalies based on reconstruction errors
* *iforest* : finds anomalies based on length of decision tree

For the autoencoder the parameter **epochs** (how often should the data be viewed by the model) and **learning rate** (size of the correction taken in each batch)
In the loss analysis file you can find the predictions done by the model as well as the loss for every case.

In [5]:
anomalydetector = pm.AnomalyDetector(model_type='autoencoder')
anomalydetector.fit_train(encoded, group_column='case_id', label_column=None, epochs=2,  learning_rate=1e-3)
_, loss_analysis = anomalydetector.evaluate(encoded, group_column='case_id', label_column=None)

Epoch 1/2
14/14 [==============================] - 1s 34ms/step - loss: 1.2464e-04 - val_loss: 7.3702e-05
Epoch 2/2
14/14 [==============================] - 0s 24ms/step - loss: 7.8826e-05 - val_loss: 5.4359e-05
26/26 [==============================] - 0s 4ms/step
Threshold_lower: 3.058299314448325e-05 and Threshold_upper: 0.00010920435935474707

In [7]:
loss_analysis

         case_id      loss  label
0    1-147898401  0.000073    1.0
1    1-165554831  0.000040    0.0
2    1-172473423  0.000040    0.0
3    1-182640781  0.000132    1.0
4    1-230541365  0.000109    1.0
..           ...       ...    ...
814  1-759020352  0.000040    0.0
815  1-759169644  0.000040    0.0
816  1-759255125  0.000031    0.0
817  1-759255152  0.000046    0.0
818  1-759318221  0.000035    0.0

[819 rows x 3 columns]